@import "./theme.css";

body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.titlebar-drag {
    -webkit-app-region: drag;
}
button, .no-drag {
    -webkit-app-region: no-drag;
}