@import "tailwindcss";

body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 0.5rem;
}

.titlebar-drag {
    -webkit-app-region: drag;
}
button, .no-drag {
    -webkit-app-region: no-drag;
}